<header class="text-light" style="background-color:#158d91">
    <div class="container-fluid p-0 m-0">
        <div class="row align-items-center">
            <div class="col-md-6 pl-5 text-center text-md-left">
                <h1 style="font-size: 1.2rem;margin-top:80px">Sign up to get latest updates, promotions, and more.</h1>
                <form style="margin-top:50px">
                    <input type="email" placeholder="Enter your email address">
                    <button type="submit" class="btn btn-primary" style="background-color: black;">SIGN UP</button>
                </form>
                <p class="small">By signing up, you agree that your data will be collected and used subject to our policy.</p>
            </div>
            <div class="col-md-6 pr-5 text-center text-md-end">
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item"><a class="nav-link" href="/about" style="font-size:18px;color:white;">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-size:18px;color:white;">Value</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog" style="font-size:18px;color:white;">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-size:18px;color:white;">Work</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-size:18px;color:white;">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="/career" style="font-size:18px;color:white;">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact" style="font-size:18px;color:white;">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<footer class="footer p-0 m-0" style="background-color:#158d91">
    <div class="container-fluid position-relative ">
        <div class="row">
            <div class="col-md-6 p-0 m-0 text-center text-md-left">
                <img src="/static/ekak (3).png" style="max-width:100%; height:auto;">
            </div>
            <div class="col-md-6 pr-5  contact-column text-center text-md-right " style="margin-top:220px">
                <h4>Contact with Us</h4>
                <div class="container text-left d-flex flex-row-reverse">
                   
                  
                    <a href="#"><small style="color:white" class="fa fa-lg fa-linkedin pull-right p-2">  </small></a>
                    <a href="#"><small style="color:white" class="fa fa-lg fa-twitter pull-right p-2">  </small></a>
                    <a href="#"><small style="color:white" class="fa fa-lg fa-facebook pull-right pr-2 mt-2">  </small></a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
